.label-set{

    font-weight: 600!important;
    font-size: 15px!important
}
.userccount {
    background: #fff;
    border: 1px solid #ddd;
    padding: 25px 20px 10px;
    /* box-shadow: 0 5px 10px #ccc; */
    border-radius: 5px;
    margin-top: -55px;
    width: 100%
}
/* .Ad-details{
    height: 200px
} */
.formpanel .form-control {
    font-size: 17px
}
.mat-stepper-horizontal, .mat-stepper-vertical {
    display: block;
   
    margin-top: 21px;
    width: auto;
    box-shadow: 0 0 2px 0.2px rgba(0,0,0,.2), 0 0 8px 0 rgba(0,0,0,.19);
    margin: 30px 10px;
}
input {
    display: block;
    margin: 0 auto;
}
.Upload {
    width: 104px;
    height: 104px;
    padding: 5px;
    border: 1px dotted #b7b7b7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer
}
.uploadfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}
.inputfile{
    display: none!important
}
.formpanel .formrow, .formrow {
    /* width: 50%; */
    margin: 0 auto;
}
.Ad-details{
width: 100%
}
.post-upper-heading{
    margin-top: 10px
}
.Ad-details-text-area{
    font-size: 20px !important;
    border: none;
    height: 150px;
}
.mat-tab-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0;
}
.Buy-Now{
    height: 48px!important;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.slide-bar{
    margin-left: 50px
}
.Icon{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    justify-content: center
}
.mat-form-field-type-mat-native-select .mat-input-element {
    padding-right: 105px;
}
.slide-bar-2{
    margin-left: 170px;
    float: right
}
.Ad-button{
    text-align: center!important
}
.slide-bar-5{
    margin-left: 150px
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    /* display: inline-block; */
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 50px;
    overflow: visible;
    background-color: #000000;
    color:#fff;
    float: right;
}
.Aution-heading{
margin-left: 10px;

}
.listing{
    margin-left: 52px
}
.back-button{
    float: left;
}
.Reset-button{
float:right;
}
.mat-form-field-flex {
    
    width: 50%!important
}
.iner-discount{
    text-align: center
}
.is{
    margin: 0;
}
.mat-select-arrow-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 258px!important
}

.price{
    width: 130px;

}
.Days{
    width: 140px;
    margin-left: 70px;
}
.Days-2{
    width: 162px
}
.what-selling{
    width: 600px
}
.automatic-rel{
margin-left: 6px
}
.uploadphotobx h4 {
    font-size: 18px;
    color: #777
}
.slide-bar-3{
    margin-left: 143px;
    float: right;
}
.discount-offer-1{
    margin-left: 9px;
}
.uploadimg .img-box {
    position: relative;
    width: 25%;
   
    float: left;
    padding: 11px;
}
.formrow-1{
    width: 40%;
    margin: 0 auto
}