<app-header></app-header>
<div class="container">


        
    
    
    
    
    
    
    
    <div class="row">
        <div class="col-lg-8">
            <ul class="nav nav-pills pay-tabs">
                    <li class="active">
                        <a data-toggle="pill" href="#card">
                            <i class="fas fa-credit-card"></i>
                            Credit/Debit Card
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" href="#menu1">
                            <i class="fas fa-money-bill-alt"></i>
                            Cash on Delivery
                        </a>
                    </li>
            </ul>
            <div class="tab-content">
                <div class="row checkout-select-box tab-pane fade in active " id="card">
                    <div class="">
                        <div id="section-pricing" class="text-center">
                            <div class="pricing-tenure-switcher center" data-container="#pricing-switch"> <span
                                    class="pts-left" *ngIf="!isright" style="color: black">Saved Cards</span> <span
                                    class="pts-left" *ngIf="isright">Saved Cards</span>
                                <div class="pts-switcher">
                                    <div class="switch"> <input [(ngModel)]="isright" id="switch-toggle-pricing-tenure"
                                            class="switch-toggle switch-toggle-round" type="checkbox"> <label
                                            for="switch-toggle-pricing-tenure"></label> </div>
                                </div><span class="pts-right" *ngIf="!isright">Add New Card</span> <span class="pts-right"
                                    *ngIf="isright" style="color: black">Add New Card</span>
                            </div>
                            <div id="pricing-switch" class="">
                                <div class="col-md-12" *ngIf="!isright">
                                    <div class="col-lg-12 Saved-card-sel-list sh-signup-form-fix" >
                                      <table>
                                          <tr>
                                              <th>
                                                  name
                                              </th>
                                          </tr>
                                          <tr *ngFor="let GetUser of GetUSeradress;let i = index">
                                            <input  placeholder="Default Bill addres"
                                            type="radio"  data-toggle="toggle" required
                                           name="makeshippingaddress" (click)="get_id(GetUser.id)"
                                         >
                                         {{GetUser.nickname}}
                                          </tr>
                                      </table>
                                         
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="isright">
                                    <div class="cart-body">
                                        <div class="credit-card-box">
                                            <div class="flip">
                                                <div class="front">
                                                    <div class="chip"></div>
                                                    <div class="logo"><svg xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            height="47.834px" id="visa"
                                                            style="enable-background:new 0 0 47.834 47.834;" version="1.1"
                                                            viewBox="0 0 47.834 47.834" width="47.834px" x="0px"
                                                            xmlns="http://www.w3.org/2000/svg" y="0px">
                                                            <g >
                                                                <g ></g>
                                                            </g>
                                                        </svg></div>
                                                    <div class="card-holder" style="top: 29px;left: 221px;">
                                                        <label> Card Holder  </label>
                                                        <div >{{signupForm.controls.cardholdername.value}}  </div>
                                                    </div>
                                                    <div class="card-holder"><label >Card Number</label>
                                                        <div >{{signupForm.controls.cardnumber.value}} </div>
                                                    </div>
                                                    <div class="card-expiration-date"><label >Expiry
                                                            Date</label>
                                                        <div >{{signupForm.controls.expiry.value}}</div>
                                                    </div>
                                                </div>
                                                <div class="back">
                                                    <div class="strip"></div>
                                                    <div class="logo"><svg xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            height="47.834px" id="visa"
                                                            style="enable-background:new 0 0 47.834 47.834;" version="1.1"
                                                            viewBox="0 0 47.834 47.834" width="47.834px" x="0px"
                                                            xmlns="http://www.w3.org/2000/svg" y="0px">
                                                            <g >
                                                                <g ></g>
                                                            </g>
                                                        </svg></div>
                                                    <div class="card-expiration-date"><label >Expiry
                                                            Date</label>
                                                        <div >{{signupForm.controls.expiry.value}}</div>
                                                    </div>
                                                    <div class="ccv"><label >CCV</label>
                                                        <div >{{signupForm.controls.ccv.value}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form [formGroup]="signupForm" *ngIf="signupForm"  class="form-horizontal row sh-signup-form-fix">
                                            <div class="col-lg-12 center-div col-md-12">
                                                <div  class="contact_form">
                                                    <div class="panel-body margin-top-145 padding-bottom-">
                                                        <div class="col-lg-6 margin-t-minas4">
                                                            <mat-form-field class="example-full-width" >
                                                                        <!-- <mat-label>Crad Type</mat-label>
                                                                        <mat-select  formControlName="card_type"    
                                                                        (change)="ShowButton(card_type.value)">
                                                                        <mat-option *ngFor="let card_get_datat of card_opeation" [value]="card_get_datat.value">
                                                                            {{card_get_datat.viewValue}}
                                                                        </mat-option>
                                                                        </mat-select> -->
                                                                        <mat-select placeholder="Card Type" formControlName="card_type"
                                                                        (click)="ShowButton(signupForm.controls.card_type.value)" >
                                                                        <mat-option *ngFor="let card_get_datat of card_opeation"
                                                                            [value]="card_get_datat.value">
                                                                            {{card_get_datat.viewValue}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                        <!-- <mat-error
                                    *ngIf="signupForm.controls.card_type.touched && signupForm.controls.card_type.invalid">
                                    <mat-error *ngIf="signupForm.controls.card_type.errors.required"> Card Type cannot be
                                        empty
                                    </mat-error>
                                </mat-error> -->
                                                            </mat-form-field>
                                                        </div>
                                                        <!-- <mat-form-field>
                                                            <mat-select placeholder="Type Card" [formControl]="var_type_atm" (change)="ShowButton(var_type_atm.value)">
                                                              <mat-option *ngFor="let card_get_datat of card_opeation" [value]="card_get_datat.value">{{card_get_datat.viewValue}}</mat-option>
                                                            </mat-select>
                                                          </mat-form-field> -->
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="Card Holder Name"    formControlName="cardholdername"  >
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="Nick Name"  formControlName="nickname"    >
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6" *ngIf="cardnumber">
                                                        <mat-form-field class="example-full-width" >    
                                                                <input matInput placeholder="16 Digit Card Number"
                                                                 [textMask]="{mask: cardmask}" 
                                                                formControlName="cardnumber"   >
                                                                <mat-error *ngIf="signupForm.controls.cardnumber.touched && signupForm.controls.cardnumber.invalid">
                                                                    <mat-error *ngIf="signupForm.controls.cardnumber.errors?.required"> Card number cannot be
                                                                        empty
                                                                    </mat-error>
                                                                    <mat-error *ngIf="signupForm.controls.cardnumber.errors?.minlength"> Card number must be
                                                                        atleast{{signupForm.controls.cardnumber.errors?.minlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="signupForm.controls.cardnumber.errors?.maxlength"> Card Number must be at
                                                                        atmost{{signupForm.controls.cardnumber.errors?.maxlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="signupForm.controls.cardnumber.hasError('pattern')"> Card number must be
                                                                        only
                                                                        in digits. </mat-error>
                                                                </mat-error>
                                                        </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6" *ngIf="cardnumber4">
                                                            <mat-form-field class="example-full-width" >    
                                                                    <input matInput placeholder="15 Digit Card Number"
                                                                     [textMask]="{mask: cardmask}" 
                                                                    formControlName="cardnumber4"   >
                                                                    <mat-error *ngIf="signupForm.controls.cardnumber4.touched && signupForm.controls.cardnumber4.invalid">
                                                                        <mat-error *ngIf="signupForm.controls.cardnumber4.errors.required"> Card number cannot be
                                                                            empty
                                                                        </mat-error>
                                                                        <mat-error *ngIf="signupForm.controls.cardnumber4.errors.minlength"> Card number must be
                                                                            atleast{{signupForm.controls.cardnumber4.errors.minlength.requiredLength}}digits long.
                                                                        </mat-error>
                                                                        <mat-error *ngIf="signupForm.controls.cardnumber4.errors.maxlength"> Card Number must be at
                                                                            atmost{{signupForm.controls.cardnumber4.errors.maxlength.requiredLength}}digits long.
                                                                        </mat-error>
                                                                        <mat-error *ngIf="signupForm.controls.cardnumber4.hasError('pattern')"> Card number must be
                                                                            only
                                                                            in digits. </mat-error>
                                                                    </mat-error>
                                                            </mat-form-field>
                                                            </div>

                                                       
                                                        <div class="col-lg-6" *ngIf="ccv">
                                                        <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="CVV" type="text" maxlength="3" minlength="3"   formControlName="ccv" >
                                                                <mat-error *ngIf="signupForm.controls.ccv.touched && signupForm.controls.ccv.invalid">
                                                                    <mat-error *ngIf="signupForm.controls.ccv.errors.required"> CVV cannot be empty
                                                                    </mat-error>
                                                                    <mat-error *ngIf="signupForm.controls.ccv.errors.minlength"> CVV must be
                                                                        atleast{{signupForm.controls.ccv.errors.minlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.ccv.errors.maxlength"> CVV must be at
                                                                        atmost{{signupForm.controls.ccv.errors.maxlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="signupForm.controls.ccv.hasError('pattern')"> CVV must be only in
                                                                        digits.
                                                                    </mat-error>
                                                                </mat-error>
                                                        </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6" *ngIf="ccv4">
                                                            <mat-form-field class="example-full-width">    
                                                                    <input matInput placeholder="CVV" type="text" maxlength="3" minlength="3"   formControlName="ccv4" >
                                                                    <mat-error *ngIf="signupForm.controls.ccv4.touched && signupForm.controls.ccv4.invalid">
                                                                        <mat-error *ngIf="signupForm.controls.ccv4.errors.required"> CVV cannot be empty
                                                                        </mat-error>
                                                                        <mat-error *ngIf="signupForm.controls.ccv4.errors.minlength"> CVV must be
                                                                            atleast{{signupForm.controls.ccv4.errors.minlength.requiredLength}}digits long.
                                                                        </mat-error>
                                                                        <mat-error *ngIf="form.controls.ccv4.errors.maxlength"> CVV must be at
                                                                            atmost{{signupForm.controls.ccv4.errors.maxlength.requiredLength}}digits long.
                                                                        </mat-error>
                                                                        <mat-error *ngIf="signupForm.controls.ccv4.hasError('pattern')"> CVV must be only in
                                                                            digits.
                                                                        </mat-error>
                                                                    </mat-error>
                                                            </mat-form-field>
                                                            </div>
                                                        <!-- <div class="col-sm-6 col-md-6 col-xs-12" *ngIf="cvv">
                                                            <mat-form-field> <input matInput type="text" maxlength="3" minlength="3" placeholder="CVV"
                                                                    formControlName="cvv">
                                                                <mat-error *ngIf="form.controls.cvv.touched && form.controls.cvv.invalid">
                                                                    <mat-error *ngIf="form.controls.cvv.errors.required"> CVV cannot be empty
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.cvv.errors.minlength"> CVV must be
                                                                        atleast{{form.controls.cvv.errors.minlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.cvv.errors.maxlength"> CVV must be at
                                                                        atmost{{form.controls.cvv.errors.maxlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.cvv.hasError('pattern')"> CVV must be only in
                                                                        digits.
                                                                    </mat-error>
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div> -->
                                                        <!-- <div class="col-sm-6 col-md-6 col-xs-12" *ngIf="cvv4">
                                                            <mat-form-field> <input matInput type="text" maxlength="4" minlength="4"
                                                                    placeholder="CVV" formControlName="cvv4">
                                                                <mat-error *ngIf="form.controls.cvv4.touched && form.controls.cvv4.invalid">
                                                                    <mat-error *ngIf="form.controls.cvv4.errors.required"> CVV cannot be empty
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.cvv4.errors.minlength"> CVV must be
                                                                        atleast{{form.controls.cvv4.errors.minlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.cvv4.errors.maxlength"> CVV must be at
                                                                        atmost{{form.controls.cvv4.errors.maxlength.requiredLength}}digits long.
                                                                    </mat-error>
                                                                    <mat-error *ngIf="form.controls.cvv4.hasError('pattern')"> CVV must be only in
                                                                        digits.
                                                                    </mat-error>
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div> -->
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="Expiry Date (MM/YY)"   [textMask]="{mask: masks}" type="text" 
                                                                 formControlName="expiry" #expiry
                                                                 (change)="chek(expiry.value)">
                                                                 <mat-error *ngIf="signupForm.controls.expiry.touched && signupForm.controls.expiry.invalid">
                                                                    <mat-error *ngIf="signupForm.controls.expiry.errors.required"> Expiry date cannot be
                                                                        empty
                                                                    </mat-error>
                                                                    <mat-error *ngIf="signupForm.controls.expiry.hasError('pattern')"> Expiry date must be
                                                                        in
                                                                        MM/YY format. </mat-error>
                                                                </mat-error>
                                                                <span class="card-error" *ngIf="expiry <= '19'">
                                                                    Invalid Expiry Date
                                                                </span>
                                                            </mat-form-field>
                                                            <!-- <mat-form-field> <input matInput placeholder="Expiry Date (MM/YY)"
                                                                [textMask]="{mask: masks}" type="text" formControlName="expirydate" #exp
                                                                (change)="chek(exp.value)">
                                                            <mat-error *ngIf="form.controls.expirydate.touched && form.controls.expirydate.invalid">
                                                                <mat-error *ngIf="form.controls.expirydate.errors.required"> Expiry date cannot be
                                                                    empty
                                                                </mat-error>
                                                                <mat-error *ngIf="form.controls.expirydate.hasError('pattern')"> Expiry date must be
                                                                    in
                                                                    MM/YY format. </mat-error>
                                                            </mat-error>
                                                            <span class="card-error" *ngIf="expirydate <= '19'">
                                                                Invalid Expiry Date
                                                            </span>
                                                        </mat-form-field> -->
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="Country"  formControlName="country">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="province"  formControlName="province" >
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="City"  formControlName="city">
                                                            </mat-form-field>
                                                        </div>
                                                        <mat-slide-toggle [checked]="false" formControlName="default">defulat</mat-slide-toggle>
                                                        <!-- <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="State"  formControlName="Producttitle" required #FName>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <mat-form-field class="example-full-width">    
                                                                <input matInput placeholder="Country"  formControlName="Producttitle" required #FName>
                                                            </mat-form-field>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                    <button (click)="save()"class="btn btn-fill"
                                                        >Place Order</button> 
                                                    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="tab-pane fade" id="menu1">
                    <div class="checkout-select-box">
                        <div class="header-label">
                                Cash on Delivery
                        </div>
                        <div class="delivery-box">
                            <p>You can pay in cash to our courier when you receive the goods at your doorstep.</p>
                            <div class="text-center">
                                <button type="submit" class="btn btn-fill"
                                >Confirm Order</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 summary-box">
            <h3>Order Summary</h3>
            <div class="sub-total">
                <span class="label">Subtotal(1 items and shipping fee included)</span>
                <span class="price">Rs :{{viewtotal}}</span>
            </div>
            <div class="total">
                <span class="label" >Total Amount</span>
                <span class="price" >Rs :{{viewtotal}}</span>
            </div>
            <ul class="brand-logos">
                <li>
                    <a><img src="../../assets/images/Norton_av_logo.png"></a>
                </li>
                <li>
                    <a><img src="../../assets/images/logo-pci-dss-200.png"></a>
                </li>
                <li>
                    <a><img src="../../assets/images/visa_PNG7.png"></a>
                </li>
                <li>
                    <a><img src="../../assets/images/mastercard-securecode.png"></a>
                </li>
            </ul>

        </div>
    </div>

</div>
