<!-- <div class="col-md-12 col-sm-12">
<div class="Adress-book">
  <h5>Adress Book</h5>
  <div class="anchor-tag">
  <a href="#" class="Shipment-anchor">Make Defult Shipment address 
  </a>
  <a href="#">Make Defult Billing address 
    </a>
  </div>
  <div class="col-md-12">
    <div class="inner-shipment">
      <div class="heading-table">
        <ul class="heading-ul">
          <li>Full name</li>
          <li>Address</li>
          <li>Region</li>
          <li>Phone Number</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="col-md-12 col-sm-12">
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad ">


    <div class="panel panel-info">
      <div class="Address-heading">
        <h3 class="panel-title"> Address Book </h3>
        <h3 class="panel-title" *ngIf="makeshippingaddress == true ">Make default shipping address</h3>
        <h3 class="panel-title" *ngIf="makebilladdress == true ">Make default Bill address</h3>
        <div class="shipping-anchor"  *ngIf="check " >
        <a style="cursor:pointer" *ngIf="total_GetUSeradress !== 0"  class="Defulat" (click)="checked90()"   >Make default Shipping Address</a>
        <a (click)="checked91()"  *ngIf="total_GetUSeradress != 0"  class="shpp">Make default Billing Address</a>
      </div>
      </div>
      <div class="panel-body">
        <div class="" *ngIf="total_GetUSeradress != 0">
          <!-- <ng-container *ngIf="GetUSerAddress !== null "> -->


          <div class="col-md-12 col-lg-12">
            <table class="table user-information">
              <thead *ngFor="let GetUser of GetUSerAddress.Results;let i = index">
                <tr *ngIf="i<1" >
                  <th *ngIf="makeshippingaddress == true ">
                     Option
                  </th>
                  <th *ngIf="makebilladdress == true ">
                      Option
                    </th>
                  <th>
                     Full Name
                  </th>
                  <!-- <th>
                    Mobile
                  </th> -->
                  <th>
                    Address
                  </th>
                  <th>
                    Region
                  </th>
                  <!-- <th>
                        State:
                    </th> -->
                  <th>
                   Phone Number
                  </th>
                  <th>
                      Status
                     </th>
                     <th class="Edit-form">
                        Edit
                       </th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let GetUser of GetUSerAddress.Results">
                  <ng-container *ngIf="GetUSerAddress !== null ">
                    <td *ngIf="makeshippingaddress == true " >
                      <input  placeholder="Default Bill addres" type="radio"  data-toggle="toggle" required
                        name="makeshippingaddress"
                      (click)="Getallbuynowproductsdetail (GetUser.id,
                      GetUser.fullname,
                      GetUser.phone_no,
                      GetUser.area,
                      GetUser.city,
                      GetUser.address,
                      GetUser.province,
                      GetUser.default_shipment_address,
                      GetUser.default_bill_address,
                      GetUser.user_id_id)"></td>
                      <td *ngIf="makebilladdress == true " >
                          <input  placeholder="Default Bill addres" type="radio"  data-toggle="toggle" required
                            name="makebilladdress"
                          (click)="Getallbuynowproductsdetail (GetUser.id,
                          GetUser.fullname,
                          GetUser.phone_no,
                          GetUser.area,
                          GetUser.city,
                          GetUser.address,
                          GetUser.province,
                          GetUser.default_shipment_address,
                          GetUser.default_bill_address,
                          GetUser.user_id_id)"></td>
                    <td>{{GetUser.fullname }}</td>
                    <td>{{GetUser.phone_no}}</td>
                    <td>{{GetUser.area}}</td>

                    <td>{{ GetUser.city }}</td>
                    <td><p class="bill" *ngIf="GetUser.default_bill_address == true"> Defalut Bill Address</p> 
                      <p  class="bill" *ngIf="GetUser.default_shipment_address == true"> Defalut Shipment Address </p>
                    </td>
                    <!-- <td>{{GetUser.province }} </td> -->

                    <!-- <td>{{GetUser.address }}</td> -->

                    <!-- <td *ngIf="GetUser.default_shipment_address == true " >
                     Defulat Shippment Address</td> -->
                     <!-- <td *ngIf="GetUser.default_bill_address == true " >
                        Defulat Shippment Address</td> -->
                    <!-- <td> -->
                        <!-- <td *ngIf="GetUser.default_shipment_address == false " >
                            No Shippment Address</td> -->
                            <!-- <td *ngIf="GetUser.default_bill_address == false " >
                               No Shippment Address</td> -->
                           <td>

                      <a (click)="Getallbuynowproductsdetail (GetUser.id,
                      GetUser.fullname,
                      GetUser.phone_no,
                      GetUser.area,
                      GetUser.city,
                      GetUser.address,
                      GetUser.province,
                      GetUser.default_shipment_address,
                      GetUser.default_bill_address,
                      GetUser.user_id_id);step1=false;"
                        class="action add-to-cart" data-toggle="modal" data-target="#myModal">

                        <i class="fa fa-edit Edit-form color"></i>
                      </a>
                      <!-- <a href="#"><i class="fas fa-trash-alt del-icon"></i></a> -->
                    </td>



                  </ng-container>
                </tr>


              </tbody>
            </table>
            <div  *ngIf="addnewaddress" >
                <button class="new-address-btn"data-toggle="modal" data-target="#myModal2" >+ Add New Address</button>
            </div>
           
            <!-- <button class="new-address-btn" (click)="checked90()" >Make Shippment Address</button>
            <button class="new-address-btn"data-toggle="modal" data-target="#myModal2" >Make Billing Address</button> -->
            <button class="new-address-btn"  (click)="checkedviewadd();MakeDefluatShippment()" *ngIf="makeshippingaddress == true " >Save</button>

            <button class="new-address-btn"  (click)="checkedviewadd();MakeDefluatbill()" *ngIf="makebilladdress == true " >Save</button>
          </div>
          




        </div>
        <div *ngIf="total_GetUSeradress == 0">
          <form role="form" class="login-form">

            <div class="">

              <div *ngIf="Inc" class="alert alert-info">
                <strong>Incomplete Account Data!</strong>
              </div>

              <!-- <ng-container *ngIf="GetUSerAddress"> -->
              <div id="step1" class="">

                <div class="row from-setting padding-l-r-15">
                  <div class="col-sm-12">
                     
                    <label for="fullname" class="required">Full Name(*)</label>
                    <input type="text" class="input form-control" ng-Model="model.fullname" #fullname name="fullname" required
                       id="fullname" value="{{GetUSerAddress.fullname}}">


                  </div>
                  <div class="col-sm-6">

                    <label for="telephone" class="required">Owner Contact Number(*)</label>


                    <input class="input form-control" [textMask]="{mask: mask}" placeholder="your contact number"
                      type="text" required ng-Model="model.phone_no" #phone_no name="phone_no" id="telephone"
                      value="{{GetUSerAddress.phone_no}}">
                  </div>
                  <div class="col-sm-6">

                    <label class="required">Province (*)</label>

                    <input class="input form-control" placeholder="Your province" type="text" required
                      ng-Model="model.province" #province name="province" value="{{GetUSerAddress.province}}">
                  </div>
                  <div class="col-sm-6">

                    <label class="required">Select Your Country(*) </label>
                    <select class="form-control" ng-Model="model.Country" #Country name="Country">
                      <option value="Pakistan" selected>Pakistan</option>

                    </select>

                  </div>
                  <div class="col-sm-6">

                    <label class="required">Select Your State/Province(*)</label>
                    <select class="form-control" ng-Model="model.State" #State name="State">
                      <option value="Punjab" selected>Punjab</option>

                      <option value="Sindh">Sindh</option>
                      <option value="Balochistan">Balochistan</option>
                      <option value="Khyber Pakhtunkhwa">Khyber Pakhtunkhwa</option>


                    </select>

                  </div>
                  <div class="col-sm-6">

                    <label class="required">Your City(*)</label>

                    <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.city"
                      #city name="city" value="{{GetUSerAddress.city}}">
                  </div>
                  <div class="col-sm-6">

                    <label class="required">Your Area(*)</label>

                    <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.area"
                      #area name="area" value="{{GetUSerAddress.area}}">
                  </div>
                  <div class="col-sm-6">
                    <br>
                    <label class="required">Default shipment address(*)</label>

                    <input class="input form-control" placeholder="Default shipment addres" type="text" required
                      ng-Model="model.default_shipment_address" #default_shipment_address
                      name="default_shipment_address" value="{{GetUSerAddress.default_shipment_address}}">
                  </div>
                  <div class="col-sm-6">
                    <br>
                    <label class="required">Default Bill address(*)</label>

                    <input class="input form-control" placeholder="Default Bill addres" type="text" required
                      ng-Model="model.default_bill_address" #default_bill_address name="default_bill_address"
                      value="{{GetUSerAddress.default_bill_address}}">
                  </div>
                  <!-- <div class="col-sm-6">
    
                          <label for="postal_code" class="required">Zip/Postal Code(*)</label>
                          
                          <input class="input form-control" type="text" pattern="([0-9])+$" placeholder="55560" required
                            ng-Model="model.zipcode" #zipcode name="zipcode" id="postal_code" value="{{GetUSerAddress.Zip}}">
                        </div> -->
                  <div class="col-xs-12">
                    <label for="address" class="required">Address(*)</label>
                    <input type="text" class="input form-control" required placeholder="shop #, street# etc"
                      ng-Model="model.address" #address name="address" id="address" value="{{GetUSerAddress.address}}">
                  </div>
                  <div class="col-xs-12">
                    <div *ngIf="Error" class="alert alert-danger">
                      <strong>Error </strong> While updating record.
                    </div>

                    <div *ngIf="Right" class="alert alert-success">
                      <strong>Profile Updated! <a style="color: red !important;" [routerLink]="['/buyer-dashboard']">Go
                          to Dashboard Section</a></strong>
                    </div>
                    <div *ngIf="Waitcall" class="alert  alert-info">
                      <p class="">
                        <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
                        </span><span>
                          &nbsp; Loading ...</span>

                      </p>
                    </div>
                    <!-- FName,address,province,city,area,Shipmentaddress,Shipmentbilladdress,mobile  -->
                    <input
                      (click)="save(fullname.value,address.value,province.value,city.value,area.value,default_shipment_address.value,default_bill_address.value,phone_no.value)"
                      type="button" class="btn-black" value="Save">
                  </div>
                </div>

              </div>
              <!-- </ng-container> -->


            </div>


          </form>
        </div>
      </div>
      <!-- <div class="panel-footer"> -->
        <!-- <a class="info" [routerLink]="['/single-product']" [queryParams]="{ ProID:  TvVideoaudio88.ProductID, CatName: TvVideoaudio88.Cat_Name,SubCatName:TvVideoaudio88.Sub_Sub_Cat_Name, id:TvVideoaudio88.id }">Product Detail</a> -->

        <!-- <a [routerLink]="['/user-shipment-create']" [queryParams]="{ ProID:  GetUser.id }" data-original-title="Edit this user"
          data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a> -->
        <!-- <span class="pull-right">
        </span> -->
      <!-- </div> -->


    </div>
    <!-- *ngIf="total_GetUSeradress != 0" -->

  </div>
  <!-- *ngFor="let GetUser of GetUSerAddress.Results" -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-box" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title model-heading" id="myModalLabel">Edit Your Shippment Address</h4>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <!-- <ng-container *ngIf="GetUSerdetails"> -->
          <div id="step1" class="tab-pane fade in active">

            <div class="row from-setting">
                <div class="col-sm-4">

                    <label for="id" class="required">Full Name(*)</label>
                    <input type="text" ng-Model="model.id" #id name="id" required
                      class="input form-control" placeholder="First Name" id="id"
                      value="{{getid}}">
    
    
    
    
                  </div>
              <div class="col-sm-4">

        
                  <label for="fullname" class="required">Full Name(*)</label>
                  <input type="text" ng-Model="model.fullname" #fullname name="fullname" required
                    class="input form-control" placeholder="First Name" id="fullname"
                    value="{{getfullname}}">




              </div>
              <div class="col-sm-4">

                  <label for="phone_no" class="required">Owner Contact Number(*)</label>


                  <input class="input form-control" [textMask]="{mask: mask}" placeholder="your contact number"
                    type="text" required ng-Model="model.phone_no" #phone_no name="phone_no" id="phone_no"
                    value="{{getphone_no}}">
  
  
                </div>
                <div class="col-sm-4">

                   
                    <label class="required">Your Area(*)</label>

                    <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.area"
                      #area name="area" value="{{getarea}}">
    
                  </div>
                  <div class="col-sm-4">

                      <label class="required">Your City(*)</label>

                      <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.city"
                        #city name="city" value="{{getcity}}">
      
      
                    </div>
                    <div class="col-sm-4">
                        <label class="required">Province (*)</label>

                        <input class="input form-control" placeholder="Your province" type="text" required
                          ng-Model="model.province" #province name="province" value="{{getprovince}}">
                      </div>
                      <div class="col-sm-4">
                          <label class="required">getdefault_shipment_address(*)</label>
  
                          <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.default_shipment_address"
                            #default_shipment_address name="default_shipment_address" value="{{getdefault_shipment_address}}">
          
          
                        </div>
                        <div class="col-sm-4">
                            <label class="required">getdefault_bill_address(*)</label>
    
                            <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.default_bill_address"
                              #default_shipment_address name="default_shipment_address" value="{{getdefault_bill_address}}">
            
            
                          </div>
                      
                        

 <div class="col-sm-4">
    <label for="address" class="required">Address(*)</label>
    <input type="text" class="input form-control" required placeholder="shop #, street# etc"
      ng-Model="model.address" #address name="address" id="address" value="{{getaddress}}">
 </div>
            

 

       
        <input type="submit"
          (click)="save2(id.value,fullname.value,address.value,province.value,default_bill_address.value,city.value,area.value,default_shipment_address.value,phone_no.value)"
          class="btn-black" value="Update">
      </div>
    </div>
    <!-- </ng-container> -->

  </div>
</div>
<!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="EditProduct()">Submit</button>
          </div> -->
</div>
</div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-box" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title model-heading" id="myModalLabel">Edit Your Shippment Address</h4>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <!-- <ng-container *ngIf="GetUSerdetails"> -->
            <div id="step1" class="tab-pane fade in active">
                <form role="form" class="login-form">

                    <div class="">
        
                      <div *ngIf="Inc" class="alert alert-info">
                        <strong>Incomplete Account Data!</strong>
                      </div>
        
                      <!-- <ng-container *ngIf="GetUSerAddress"> -->
                      <div id="step1" class="">
        
                        <div class="row from-setting padding-l-r-15">
                          <div class="col-sm-12">
        
                            <label for="fullname" class="required">Full Name(*)</label>
                            <input type="text" ng-Model="model.fullname" #fullname name="fullname" required
                              class="input form-control" placeholder="First Name" id="fullname"
                              value="{{GetUSerAddress.fullname}}">
        
        
                          </div>
                          <div class="col-sm-6">
        
                            <label for="telephone" class="required">Owner Contact Number(*)</label>
        
        
                            <input class="input form-control" [textMask]="{mask: mask}" placeholder="your contact number"
                              type="text" required ng-Model="model.phone_no" #phone_no name="phone_no" id="telephone"
                              value="{{GetUSerAddress.phone_no}}">
                          </div>
                          <!-- <div class="col-sm-6">
        
                            <label class="required">Province (*)</label>
        
                            <input class="input form-control" placeholder="Your province" type="text" required
                              ng-Model="model.province" #province name="province" value="{{GetUSerAddress.province}}">
                          </div> -->
                          <div class="col-sm-6">
        
                            <label class="required">Select Your Country(*) </label>
                            <select class="form-control" ng-Model="model.Country" #Country name="Country">
                              <option value="Pakistan" selected>Pakistan</option>
        
                            </select>
        
                          </div>
                          <div class="col-sm-6">
        
                            <label class="required">Select Your State/Province(*)</label>
                            <select class="form-control" ng-Model="model.province" #province name="State" value={{GetUSerAddress.province}}>
                              <option value="Punjab" selected>Punjab</option>
        
                              <option value="Sindh">Sindh</option>
                              <option value="Balochistan">Balochistan</option>
                              <option value="Khyber Pakhtunkhwa">Khyber Pakhtunkhwa</option>
        
        
                            </select>
        
                          </div>
                          <div class="col-sm-6">
        
                            <label class="required">Your City(*)</label>
        
                            <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.city"
                              #city name="city" value="{{GetUSerAddress.city}}">
                          </div>
                          <div class="col-sm-6">
        
                            <label class="required">Your Area(*)</label>
        
                            <input class="input form-control" placeholder="Your City" type="text" required ng-Model="model.area"
                              #area name="area" value="{{GetUSerAddress.area}}">
                          </div>
                          <div class="col-sm-6">
                            <br>
                            <label class="required">Default shipment address(*)</label>
        
                            <input  placeholder="Default shipment addres" type="checkbox" required
                              ng-Model="model.default_shipment_address" #default_shipment_address    
                              name="default_shipment_address" (click)="checked8($event,i)">
                          </div>
                          <div class="col-sm-6">
                            <br>
                            <label class="required">Default Bill address(*)</label>
        
                            <input  placeholder="Default Bill addres" type="checkbox"    required
                              ng-Model="model.default_bill_address" #default_bill_address name="default_bill_address"
                              (click)="checked7($event,i)">
                          </div>
                          <!-- <div class="col-sm-6">
            
                                  <label for="postal_code" class="required">Zip/Postal Code(*)</label>
                                  
                                  <input class="input form-control" type="text" pattern="([0-9])+$" placeholder="55560" required
                                    ng-Model="model.zipcode" #zipcode name="zipcode" id="postal_code" value="{{GetUSerAddress.Zip}}">
                                </div> -->
                          <div class="col-xs-12">
                            <label for="address" class="required">Address(*)</label>
                            <input type="text" class="input form-control" required placeholder="shop #, street# etc"
                              ng-Model="model.address" #address name="address" id="address" value="{{GetUSerAddress.address}}">
                          </div>
                          <div class="col-xs-12">
                            <div *ngIf="Error" class="alert alert-danger">
                              <strong>Error </strong> While updating record.
                            </div>
        
                            <div *ngIf="Right" class="alert alert-success">
                              <strong>Profile Updated! <a style="color: red !important;" [routerLink]="['/buyer-dashboard']">Go
                                  to Dashboard Section</a></strong>
                            </div>
                            <div *ngIf="Waitcall" class="alert  alert-info">
                              <p class="">
                                <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
                                </span><span>
                                  &nbsp; Loading ...</span>
        
                              </p>
                            </div>
                            <!-- FName,address,province,city,area,Shipmentaddress,Shipmentbilladdress,mobile  -->
                            <input
                              (click)="save(fullname.value,address.value,province.value,city.value,area.value,default_shipment_address.value,default_bill_address.value,phone_no.value)"
                              type="button" class="btn-black" value="Save">
                          </div>
                        </div>
        
                      </div>
                      <!-- </ng-container> -->
        
        
                    </div>
        
        
                  </form>
             
        </div>
      </div>
      <!-- </ng-container> -->
  
    </div>
  </div>
  
  </div>
  </div>
   