<app-header></app-header>
<div class="seller-on">
  <div class="banner">
    <label>
      With 3 Simple Steps You Can Start Selling On Dhaar,<br>
      And Grow Your sales Nationwide.
    </label>
    <p>Sell Smart, Sell on Dhaar</p>
    <button>Start Selling</button>
    <span>Already a Seller? <a href="#">Sign In here</a> </span>
  </div>
  <section class="container feature-box">
    <div class="feature">
      <h1>Feature & Benefits</h1>
      <p>See how can Dhaar help you grow your business in a simple way.</p>
      <div class="f-box border-b border-r">
        <i class="fas fa-users"></i>
        <p>Millions of Customers</p>
      </div>
      <div class="f-box border-b border-r">
        <i class="far fa-credit-card"></i>
        <p>Pay when you sell, no listing fee</p>
      </div>
      <div class="f-box border-b">
        <i class="fas fa-truck"></i>
        <p>Fast & Reliable Shipping</p>
      </div>

      <div class="f-box border-r">
        <i class="fas fa-lock"></i>
        <p>Secure & Timely Payments</p>
      </div>
      <div class="f-box border-r">
        <i class="fas fa-headset"></i>
        <p>Professional Services to help you</p>
      </div>
      <div class="f-box">
        <i class="fas fa-plus-square"></i>
        <p>and much more</p>
      </div>
    </div>
  </section>
  <section class="Steps-section">
    <div class="container">
      <h1 class="text-center">3 Simple Steps to Start Selling on Dhaar</h1>
      <p>Just Like this, Simply Done!.</p>
      <div class="step-box">
        <label><span>1</span>Step</label>
        <div class="detail">
          <h3>Register & List your Products</h3>
          <p>Register & List your Products.</p>
          <p>Provide detail of yourself & your business.</p>
          <p>Provide information about your products.</p>
        </div>
        <div class="image">
          <img src="../../assets/images/DhaarIcons/register products @1x.png">
        </div>
      </div>

      <div class="step-box">
        <label><span>1</span>Step</label>
        
        <div class="detail">
          <h3>Register & List your Products</h3>
          <p>Register & List your Products.</p>
          <p>Provide detail of yourself & your business.</p>
          <p>Provide information about your products.</p>
        </div>
        <div class="image">
          <img src="../../assets/images/DhaarIcons/receive orders@1x.png">
        </div>
      </div>

      <div class="step-box">
        <label><span>1</span>Step</label>
        <div class="detail">
          <h3>Register & List your Products</h3>
          <p>Register & List your Products.</p>
          <p>Provide detail of yourself & your business.</p>
          <p>Provide information about your products.</p>
        </div>
        <div class="image">
          <img src="../../assets/images/DhaarIcons/BG@1x.png">
        </div>
      </div>
    </div>
  </section>

</div>
