::-webkit-input-placeholder {
    font-size: 25px!important }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 25px;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 25px;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 13px!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 13px!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 13px!important;
<<<<<<< HEAD
<<<<<<< HEAD
 }
 .mat-input{
      padding: 0 0 5px;
}
.mat-label{
      font-size: 16px;
      color: #616161!important;
      font-weight: bold;
      transition: ease-in-out .5s;
 }
 .is-completed .mat-label {
      font-size: 12px !important;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      transition: ease-in-out .5s;
  }
=======
 }
>>>>>>> 0fd84a62ad40574d38e4af6f7f1b22750b841b67
=======
 }
>>>>>>> parent of b22fab7... 14-5-19
