::-webkit-input-placeholder {
    font-size: 25px!important }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 25px;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 25px;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 13px!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 13px!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 13px!important;
 
 }
 .mat-input{
      padding: 0 0 5px;
}
.mat-label{
      font-size: 16px;
      color: #616161!important;
      font-weight: bold;
      transition: ease-in-out .5s;
 }
 .is-completed .mat-label {
      font-size: 12px !important;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      transition: ease-in-out .5s;
  }
 
  .formpanel .btn {
      width: 80%;
      background: #000;
      color: #fff;
      border-radius: 50px;
      padding: 9px 0;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      box-shadow: 3px 2px 7px 2px #a7a3a3;
      margin: 39px auto 10px;
      display: block;
      box-shadow: 0 14px 26px -12px rgba(0,0,0,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)!important;
  }
  .for-signup{
      font-weight: 600;
      margin-top: 10px;
  }
  .signin-page{
      color: #0275d8!important
  }

  .newuser {
      margin-top: 10px;
      text-align: center;
      font-size: 16px;
     
  }