.form-control {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 20px 5px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color:#0A0A0A
}
.span-mad{

    color: red
}
::-webkit-input-placeholder {
    font-size: 25px!important }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 25px;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 25px;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 13px!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 13px!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 13px!important;
 }