.donate-form-area h3{margin:0}input{border-radius:5px}#stay{margin-right:-20px}.fontAwesome{font-family:Helvetica,FontAwesome,sans-serif}.donate-form-area{height:730px!important}
::-webkit-input-placeholder {
    font-size: 16px!important;
      font-weight: bold;
}
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 16px;
       font-weight: bold;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 16px;
       font-weight: bold;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 16px!important;
    font-weight: bold;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 16px!important;
       font-weight: bold;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 16px!important;
       font-weight: bold;
 }    
 .mat-input{
       padding: 0 0 5px;
 }
 .mat-label{
      font-size: 16px;
      color: rgba(0, 0, 0, .54) !important;
      font-weight: bold;
      transition: ease-in-out .5s;
 }
 .is-completed .mat-label {
      font-size: 12px !important;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      transition: ease-in-out .5s;
  }
 .field-icon {
      font-weight: 900;
      position: absolute;
      right: 4px;
      top: 28px;
      color: #616161;
  }
  .formpanel .formrow a{
        display: block;
        font-size: 14px;
        margin-top: 5px;
  }
  /* Start  Slide toggle */
  .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 18px;
      margin-right: 5px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 0px;
      bottom: -2px;
      background-color: white;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #ccc;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #ccc;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background: black;
    }
  .color-blue{
    color: blue;
  }
  .color-blue:hover{
    color: #c00;
  }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    .checked-box{
      margin: 10px 0 0;
      font-size: 13px;
      font-weight: 600;
      font-family: Roboto,"Helvetica Neue",sans-serif;
    }
    .formpanel .btn {
      width: 63%;
      background: #000;
      color: #fff;
      border-radius: 50px;
      padding: 7px 0;
      font-size: 19px;
      font-weight: 600;
      text-transform: capitalize;
      box-shadow: 3px 2px 7px 2px #a7a3a3;
      margin: 39px auto 10px;
      display: block
    }
  
/* End slide Toggle */
.terms-box a{
      margin: 0 20px;
}

