<app-header></app-header>

 
<div class="listpgWraper">
  <div class="container">
    <div class="row">

      <div class="login-signup-page">

        <div class="userccount">
          <div *ngIf="SignUpDOne==true" class="alert alert-success">
            <strong>User Registered!</strong> Sign in to Your Account
          </div>
          <div *ngIf="StoreUpDOne==true" class="alert alert-success">
            <strong>Store Registered!</strong> Please Login with same credentials into seller's account
          </div>

          <div class="login-form-1-header">
            <h3>Sign in to Your Account</h3>
            <ul class="logic-from-1-sl">
              <li><a href="" (click)="signInWithFB()">
                <!-- <i class="fab fa-facebook-f"></i> -->
                <img src="../../assets/images/icon-facebook.png">
              </a></li>
              <li><a href="">
                <!-- <i class="fab fa-twitter"></i> -->
                <img src="../../assets/images/icon_twitter.png">
              </a></li>
              <li><a href="">
                <!-- <i class="fab fa-google-plus-g"></i> -->
                <img src="../../assets/images/icon-Google.png">
              </a></li>
            </ul>
          </div>
          <!-- login form -->

          <div *ngIf="login_error==true" class="alert alert-danger">
            <strong>Error!</strong> Invalid Login Details
          </div>
            <form role="form" class="login-form" (ngSubmit)="f.form.valid && captcha && loged_in(username.value, password.value)"
            #f="ngForm" novalidate>

            <div class="formpanel">
              
              <div class="formrow">
                <div class="form-group label-overlay">
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                      <div class="mat-div">
                          <label for="first-name" class="mat-label">Username</label>
                          <input type="text" class="mat-input" name="username" [(ngModel)]="model.username"
                          #username="ngModel" required>
                        </div>
                   
                    <div *ngIf="f.submitted && !username.valid" class="help-block">*Username is required</div>
                  </div>
                  <!-- <mat-form-field  [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                      <input matInput id="username" placeholder="Enter Username" formControlName="username" [(ngModel)]="username">
                      <input matInput type="text" name="username"   placeholder="Enter Username" [(ngModel)]="model.username" #username="ngModel" required>
                      <mat-error *ngIf="login.controls.username.value == '' || !login.controls.username.value"><strong>This Field cannot be empty</strong></mat-error>
          
                    </mat-form-field> -->

                </div> 
              </div>
              <div class="formrow">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <div class="mat-div">
                    <label for="first-name" class="mat-label">password</label>
                    <input  id="password-field" type="password" class="mat-input" name="password" [(ngModel)]="model.password"
                    #password="ngModel" required>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                  </div>
              
                  <div *ngIf="f.submitted && !password.valid" class="help-block">*Password is required</div>
                </div>
                
                <!-- <mat-form-field  [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input matInput type="password" id="password" [type]="hide ? 'password' : 'text'"  placeholder="Enter Your Password" formControlName="password" [(ngModel)]="password">
                    <input matInput type="password"   name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="login.controls.password.value == '' || !login.controls.password.value"><strong>This Field cannot be empty</strong></mat-error>
      
                  </mat-form-field> -->
                <div class="pull-left">
                  <a [routerLink]="['/forget-password']"> Forgot Password? </a>
                  <div  class="checked-box">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    Stay signed in 
                  </div>
                </div>
                
                <div class="formrow pull-right">
                  <div class="form-group">
                    <app-recapcha></app-recapcha>
                 
                  </div>
                </div>
              </div>
              <div *ngIf="Waitcall" class="alert  alert-info">
                <p class="">
                  <span style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate"> </span><span>
                    &nbsp; Loading ...</span>

                </p>
              </div>

              <input type="submit" class="btn" value="Login">

            </div>
          </form>
          <div *ngIf="user">
            <img src="{{ user.photoUrl }}">
            <div>
              <h4>{{ user.firstName }}</h4><br>
              <h4>{{ user.lastName }}</h4>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>

            <button class="btn btn-danger" (click)="signOut()">Sign out</button>

          </div>

          <!-- login form  end-->

          <!-- sign up form -->
          <div class="newuser">Don't have an account? <a [routerLink]="['/sign-up']">Register Here</a></div>
          <div class="newuser">
            <a [routerLink]="['/terms-use']" target="_blank">Terms of Use</a> 
            <a [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
          </div>

         

        </div>
      </div>
    </div>
  </div>
</div>

 