#ribbon{padding:.34em 1em;width:95%;margin:0 auto;position:relative;color:#fff;font-size:34px;text-align:center;background-image: url('../../assets/images/slider-background.jpg');border-radius: 5px}a:focus,a:hover{text-decoration:none;outline:0}.nav-tabs{position:relative}.nav-tabs .active:after,.nav-tabs>li:hover:after{content:"";border-top:10px solid #c00;border-left:9px solid transparent;border-right:9px solid transparent;position:absolute;top:40px;right:48%}.nav-tabs>li>a{background:#000;color:#fff;padding:5px;font-size:20px}.nav-tabs>li>a:hover{border-color:transparent;background:#c00;transition:.3s ease}.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background:#c00;color:#fff}@media only screen and (max-width:360px){.nav-tabs>li>a{padding:10px}}.nav1{padding-left:0;margin-bottom:0;list-style:none}.nav1>li{position:relative;display:block}.nav1>li>a{position:relative;display:block;padding:10px 15px}.nav1>li>a:focus,.nav1>li>a:hover{text-decoration:none;background-color:#eee}.nav1>li.disabled>a{color:#777}.nav1>li.disabled>a:focus,.nav>li.disabled>a:hover{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}.nav1 .open>a,.nav1 .open>a:focus,.nav1 .open>a:hover{background-color:#eee;border-color:#337ab7}.nav1>li>a>img{max-width:none}.nav-tabs1{border-bottom:1px solid #e0e0e0}.nav-tabs1>li{float:left;margin-bottom:-1px;font-size:16px;width:25%}.nav-tabs1>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:5px 5px 0 0}.nav-tabs1>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs1>li.active>a,.nav-tabs1>li.active>a:focus,.nav-tabs1>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #e0e0e0;border-bottom-color:transparent}.nav-tabs1{position:relative}.nav-tabs1 .active:after,.nav-tabs1>li:hover:after{content:"";border-top:10px solid #c00;border-left:9px solid transparent;border-right:9px solid transparent;position:absolute;top:44px;right:46%}.nav-tabs1>li>a{background:#000;color:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.nav-tabs1>li>a:hover{border-color:transparent;background:#c00;transition:.3s ease}.nav-tabs1>li.active>a,.nav-tabs1>li.active>a:focus,.nav-tabs1>li.active>a:hover{background:#c00;color:#fff}.padding-rl-30{padding:0 30px}@media only screen and (max-width:360px){.nav-tabs1>li>a{padding:10px}}
/* .download-here {
    position: absolute;
    right: 40px;
    top: 10px;
    z-index: 9
}
#carousel-example-generic .carousel-inner {
    margin: 0
}
.about-page .carousel-inner>.item>a>img,
.about-page .carousel-inner>.item>img {
    width: 100%
}
.about-page .carousel-inner>.item>a>img,
.about-page .carousel-inner>.item>img {
    width: 100%
}
#main-bg-slider .item {
    height: 520px;
    overflow: hidden
}
#main-bg-slider .item img {
    width: 100%;
    height: 520px
}
.homeSlider .item {
    position: relative;
    padding: 0 10px
}
.homeSlider .item .image {
    padding: 0 20px 0 20px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden
}
.homeSlider .item .image .img {
    width: 90px;
    height: 90px;
    margin: 0 auto
}
.item.slick-slide {
    border: solid 1px #222;
    min-height: 155px;
    padding: 10px;
    border-radius: 4px;
    background: #0000004f;
    margin-right: 10px
}
.item.slick-slide:hover {
    background: 0 0
}

.item.slick-slide:hover a {
    color: #c00!important
}

.item.slick-slide a {
    position: relative;
    top: 10px;
    font-size: 15px
}
.top-cart-content li.item {
    width: 272px;
    margin: 5px 0;
    border-bottom: 1px #eee solid;
    min-height: 67px
}
.top-cart-content li.item.last {
    margin: 0;
    border-bottom: 0 #eee solid;
    padding-bottom: 10px
}
.timer-item.item {
    margin: auto
}

.timely .item-info {
    text-align: center;
    margin-top: 0
}
.hot-deal .products-grid .item {
    margin-top: 0
}
.hot-deal .product-item .item-inner {
    margin-bottom: 0;
    padding: 15px 0 20px
}
.product-item .item-inner {
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer
}
.product-item .item-inner:hover {
    box-shadow: 0 0 22px -2px #9d9d9d
}
.product-item .item-inner:hover .product-thumbnail .btn-quickview {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.product-item .item-inner:hover .pro-box-info .box-hover .add-to-links .action.add-to-wishlist {
    margin-left: -97px
}

.product-item .item-inner:hover .pro-box-info .box-hover .add-to-links .add-to-compare {
    margin-left: 63px
}

.product-item .item-inner .product-heading {
    font-size: 20px;
    margin: 5px 0;
    text-transform: capitalize;
    text-align: center
}

.product-item .item-inner .product-thumbnail {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    min-height: 206px
}

.product-item .item-inner .product-thumbnail .btn-quickview {
    background: 0 0;
    padding: 0;
    line-height: inherit;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.product-item .item-inner .product-thumbnail .btn-quickview a {
    background: #fff;
    border: 1px solid #ccc;
    color: #444;
    font-size: 12px;
    font-weight: 400;
    padding: 0 15px 0 15px;
    line-height: 35px;
    letter-spacing: .5px;
    text-transform: inherit;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    border-radius: 50px
}

.product-item .item-inner .product-thumbnail .btn-quickview a:hover {
    color: #fff;
    background: #ed2424;
    border: 1px solid #ed2424
}

.product-item .item-inner .product-thumbnail .product-item-photo {
    display: block;
    width: 100%;
    padding: 10px
}

.product-item .item-inner .product-thumbnail .product-item-photo .product-image-photo {
    width: 168px
}

.product-item .item-inner .pro-box-info {
    float: left;
    width: 100%;
    padding: 0 5px
}

.product-item .item-inner .pro-box-info .box-hover {
    text-align: center;
    margin-top: 10px;
    position: relative;
    overflow: hidden
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links:after {
    display: table;
    content: "";
    clear: both
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action {
    color: #fff;
    display: inline-block;
    font-size: 0;
    font-weight: 400;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    padding: 0;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action:hover {
    background: #ed2424;
    border: 1px solid #ed2424
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action:before {
    display: inline-block;
    font-family: Hind, sans-serif;
    font-size: 14px;
    color: #444
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action span {
    display: inline-block
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action.add-to-wishlist {
    margin-left: 0
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action.add-to-wishlist:before {
    content: "\f004"
}

.product-item .item-inner .pro-box-info .box-hover .add-to-links .action.add-to-compare:before {
    content: "\f012"
}

.product-item .item-inner .pro-box-info .pro-actions {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 2
}

.product-item .item-inner .pro-box-info .pro-actions a {
    display: inline-block
}

.product-item .item-inner .pro-box-info .pro-actions .action.add-to-cart {
    background: #000;
    color: #fff!important;
    padding: 3px 11px;
    border-radius: 50px;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    border: 1px solid #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc
}

.product-item .item-inner .pro-box-info .pro-actions .action.add-to-cart:hover {
    color: #fff;
    background: #c00!important;
    border: 1px solid #c00;
    transition: all .4s ease-out 0s
}

.product-item .item-inner .pro-box-info .pro-actions .action.add-to-cart:before {
    display: inline-block;
    font-family: Hind, sans-serif;
    margin-right: 4px;
    line-height: 31px;
    font-size: 12px
}
.product-item .item-inner .product-thumbnail:hover .mt-button {
    transform: scale(1)
}

.product-item .item-inner .item-info {
    text-align: left;
    padding-top: 5px
}

.product-item .item-inner .item-info .item-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px
}

.product-item .item-inner .item-info .item-title h4 {
    margin: 0
}

.product-item .item-inner .item-info .item-title a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    font-size: 12px;
    text-transform: none;
    height: 38px;
    line-height: normal
}
.product-item .item-inner .item-info .item-title a:hover {
    color: #ed2424
}
.best-selling-slider .product-item .item-inner,
.featured-products-slider .product-item .item-inner {
    margin-bottom: 0;
    padding: 0 0 20px
}
.item-inner .product-thumbnail .add-to-links .action.add-to-wishlist {
    color: #fff;
    display: inline-block;
    font-size: 0;
    font-weight: 400;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 0;
    left: 25%;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    border-radius: 50px;
    opacity: 0
}

.item-inner:hover .product-thumbnail .add-to-links .action.add-to-wishlist {
    opacity: 1;
    top: 34%;
    left: 34%;
    z-index: 100
}

.item-inner:hover .product-thumbnail .add-to-links .action.add-to-compare {
    opacity: 1;
    top: 34%;
    z-index: 100
}

.item-inner .product-thumbnail .add-to-links .action.add-to-compare {
    color: #fff;
    display: inline-block;
    font-size: 0;
    font-weight: 400;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    opacity: 0;
    border-radius: 50px
}

.item-inner .product-thumbnail .add-to-links .action:hover {
    background: #ed2424;
    border: 1px solid #ed2424
}

.item-inner .product-thumbnail .add-to-links .action:hover:before {
    color: #fff
}

.item-inner .product-thumbnail .add-to-links .action:before {
    display: inline-block;
    font-family: Hind, sans-serif;
    font-size: 13px;
    color: #444
}

.item-inner .product-thumbnail .add-to-links .action span {
    display: inline-block
}

.item-inner .product-thumbnail .add-to-links .action.add-to-wishlist {
    margin-left: 0
}

.item-inner .product-thumbnail .add-to-links .action.add-to-wishlist:before {
    content: "\f004"
}

.item-inner .product-thumbnail .add-to-links .action.add-to-compare:before {
    content: "\f012"
}

.owl-item .item {
    margin: 0 12px
}

.slider-items-products {
    position: relative
}

.slider-items-products .item {
    text-align: center
}

.slider-items-products .item .product-image {
    display: block;
    overflow: hidden
}

.slider-items-products .item .product-image img {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: transform;
    transition-property: transform
}

.slider-items-products .item .product-image:hover img {
    transform: scale(-1, 1)
}
.sidebar-cart ul li.item {
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    display: inline-block
}

.sidebar-cart ul li.item img {
    width: 65px
}

.sidebar-cart ul li.item.last {
    border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 5px
}
.products-grid .item {
    margin-top: 0;
    padding: 5px 10px
}
.products-list .item {
    padding: 0;
    margin: 15px 0 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    list-style: none;
    display: inline-block;
    width: 100%
}

.products-list .item:last-child {
    margin: 15px 0 0;
    border-bottom: 0 solid #eee;
    padding-bottom: 25px
}

.products-list .item h3 {
    font-weight: 400;
    color: #353535;
    padding-bottom: 2px
}

.products-list .item h3 a {
    font-weight: 400;
    font-size: 14px;
    color: #407cbf;
    text-decoration: none
}

.products-list .item h3 a:hover {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-decoration: underline
}
@media (max-width:768px) {
    #main-bg-slider .item {
        height: 355px;
    }
    #main-bg-slider .item img {
        height: 355px;
    }
    .homeSlider.slick-initialized.slick-slider {
        margin-top: -184px;
    }
    .search-bg__title {
        font-size: 25px;
        top: 54px;
    } 
    }
@media all and (min-width:768px) {
    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%
    }
    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%
    }
    .carousel-showmanymoveone .carousel-inner>.active,
    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right {
        left: 0
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block
    }
}
@media all and (min-width:768px) and (transform-3d),
all and (min-width:768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0
    }
    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0
    }
    .carousel-showmanymoveone .carousel-inner>.item.active,
    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}
@media all and (min-width:992px) {
    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -16.666%
    }
    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 16.666%
    }
    .carousel-showmanymoveone .carousel-inner>.active,
    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right {
        left: 0
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6 {
        display: block
    }
}
@media all and (min-width:992px) and (transform-3d),
all and (min-width:992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0
    }
    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0
    }
    .carousel-showmanymoveone .carousel-inner>.item.active,
    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
} */